*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  height: 100vh;
  position: relative;
}

#superga{
  background-color: red;
}
#hilfiger{
  background-color: green;
}
#converse{
  background-color: yellow;
}

img{
  width: 50vw;
}
h1{
  color: yellow;
  text-align: center;
  font-size: 40px;
  font-family: 'Rubik Mono One', sans-serif;
}
.speciale h1{
  color: green;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: yellow;
}

ul{
  position: absolute;
  top: -5vw;
  right: -23vw;
}
li{
  list-style: none;
  display: inline;
  border: 1px solid black;
  border-radius: 100%;
  color: black;
  padding: 10px;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: white;
}

li a{
  text-decoration: none;
  color: black;
}
